.ui.celled.fixed.sortable.table{
  width: 98%;
  margin: 20px 10px 20px 10px;

}

button.ui.blue.button{
  margin-left: 10px;
  margin-top: 5px;
}
button.ui.primary.button {
  margin-left: 10px;
  margin-top: 5px;
}

.ui.inverted.menu {
  height: 48px;
}

.ui.inverted.menu .item.logo {
  font-size: 18px;
}

.ui.label.sort-icon-up {
  background: none;
  padding: 1px;
  margin-left: -10px;
}

.ui.label.sort-icon-down {
  background: none;
  padding: 1px;
  margin-left: 5px !important;
}

.pagination {
  display: flex;
  list-style: none;
  outline: none;
  float: right;
}
.pagination > .active > a{
  background-color: #337ab7;
  border-radius: 3px;
  color: #fff;
}
.pagination > li > a{
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #337ab7 ;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #337ab7;
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

.ui.selection.dropdown.select-filter {
  min-width: 2em;
  margin-left: 10px;
}
